<nav class="navbar bg-dark navbar-expand-lg navbar-dark sticky-top my-auto">
    <div class="container-fluid top-nav">
      <a class="navbar-brand" href="#"><img src="Images/tea-main-logo.svg" style="width:100px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>
          <input type="checkbox" id="checkbox1" class="checkbox1 visuallyHidden">
          <label for="checkbox1">
            <div class="hamburger hamburger1">
              <span class="bar bar1"></span>
              <span class="bar bar2"></span>
              <span class="bar bar3"></span>
              <span class="bar bar4"></span>
            </div>
          </label></span>
      </button>
      <div class="collapse navbar-collapse pt-2 pb-2" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-4 my-auto">
          <li class="nav-item mt-lg-0 mt-md-0 mt-sm-3 mt-3">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#why-tea">Why tea?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#community">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/teaxyz">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://linktr.ee/teaxyz">Linktree</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/white-paper/">White Paper</a>
          </li>
        </ul>
        <a class="btn btn-primary auth-btn mt-lg-0 mt-md-0 mt-sm-4 mt-4"
          href="https://github.com/apps/tea-xyz/installations/new" role="button">Authenticate with tea<span
            class="badge rounded-pill bg-primary ms-3"><span id="count1">287</span></span></a>
      </div>
    </div>
  </nav>