{{ define "main" }}
<img id="tea-steam-dark-1" src="/Images/tea-steam-dark-1.svg" alt="">
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pe-lg-5 pe-md-5 pe-sm-0 pe-0" style="z-index:100; display:flex; flex-direction:column;">
      <div style="margin-top:auto; margin-bottom:auto;">
        <h1 class="display-1 mb-5">Join the <span class="teal">tea</span> party!</h1>
        <p class="mb-lg-5 mb-md-5 mb-sm-5 mb-5 lead">We’re looking for the best-of-the-best to help brew the future of web3. If you’re a visionary self-starter who’s eager to be on the front lines of innovation, then take look at our list of current openings and apply accordingly. Even if you don’t see a role that captures your skill set, please feel free to <a class="teal" href="mailto:talent@tea.xyz?subject=resumé">email us</a> your resumé in order to be considered for future opportunities.</p>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <p class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Senior Blockchain Developer
            </button>
          </p>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>The tools that build the internet have steeped too long. For the past two decades, big tech has made trillions off the generosity of visionary developers and web pioneers… never thanking, never mentioning, and certainly never paying. At tea, we’re brewing something to change that by enabling developers (you) to continue doing what you love, while earning what you deserve.<br><br>

              Reporting to the Blockchain Architect, the Blockchain developer will be responsible for the design, implementation, and distribution of a secure blockchain infrastructure that meets the network’s needs and goals.<br><br>

              This is a full-time remote position.</p><br>

              <a class="btn btn-primary auth-btn mb-3" href="https://tea.bamboohr.com/jobs/view.php?id=24"
                role="button">Apply on BambooHR</a>

              <p class="small" style="color:#B9C7C9;">Visit BambooHR to apply, and to read more about the qualifications and responsibilities for this position.</p>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <p class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Blockchain Architect
            </button>
          </p>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>The tools that build the internet have steeped too long. For the past two decades, big tech has made trillions off the generosity of visionary developers and web pioneers… never thanking, never mentioning, and certainly never paying. At tea, we’re brewing something to change that by enabling developers (you) to continue doing what you love, while earning what you deserve.<br><br>

              Reporting to the Chief Product Officer, the Blockchain architect will be responsible to effectively and efficiently utilize technology to meet the network’s needs and goals, including:<br>

              <ul>
              <li>Select and/or build all components of the blockchain technology stack.</li>
              <li>Ensure scalable connectivity of on-chain and off-chain software solutions.</li>
              <li>Support the launch and growth of the developer community through various initiatives including public engagement and documentation publishing.</li>
              </ul>

              This is a full-time remote position.</p><br>

              <a class="btn btn-primary auth-btn mb-3" href="https://tea.bamboohr.com/jobs/view.php?id=23"
                role="button">Apply on BambooHR</a>

              <p class="small" style="color:#B9C7C9;">Visit BambooHR to apply, and to read more about the qualifications and responsibilities for this position.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Why Work at tea -->
<div class="row" style="background-color:#23282C;">
  <div class="container mb-5 mt-5">
    <div class="row">
      <h3 class="text-center display-4 mb-5">Why work at tea?</h3>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center lead">Join a team of motivated and passionate individuals and be a part of a rapidly growing and exciting project in web3 and open source technologies. We offer an attractive salary, relocation packages (if applicable), token/equity options and performance based bonuses.</p>
      </div>
    </div>
  </div>
</div>

<!-- Community Links -->
<div class="row community-container pt-5 pb-5 mt-5 mb-5">
  <div class="container p-4" id="community">
    <div class="row">
      <div class="col">
        <h3 style="text-align:center;" class="mb-5 display-5">Join the Community</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-6 col-sm-6 col-lg">
        <a href="https://discord.gg/KCZsXfJphn">
          <div class="com-card mb-4">
            <img src="/Images/discord.svg" alt="" class="community-icon">
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-6 col-lg">
        <a href="https://twitter.com/teaxyz_">
          <div class="com-card mb-4">
            <img src="/Images/twitter.svg" alt="" class="community-icon">
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-6 col-lg">
        <a href="https://github.com/teaxyz">
          <div class="com-card mb-4">
            <img src="/Images/github.svg" alt="" class="community-icon">
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-6 col-lg">
        <a href="https://t.me/tea_xyz">
          <div class="com-card mb-4">
            <img src="/Images/telegram.svg" alt="" class="community-icon">
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-6 col-lg align-self-center">
        <a href="https://reddit.com/r/teaxyz">
          <div class="com-card mb-4">
            <img src="/Images/reddit.svg" alt="" class="community-icon">
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-6 col-lg align-self-center">
        <a href="https://www.instagram.com/tea.xyz/">
          <div class="com-card mb-4">
            <img src="/Images/instagram-iconAsset 1.svg" alt="" class="community-icon">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{{ end }}
